apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: object-lease-webhook-role
  labels:
    app: object-lease-webhook
rules:
# Permissions to watch LeaseController CRs and manage finalizers
- apiGroups:
  - object-lease-controller.ullberg.io
  resources:
  - leasecontrollers
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - object-lease-controller.ullberg.io
  resources:
  - leasecontrollers/finalizers
  verbs:
  - update
# Permissions to manage ValidatingWebhookConfiguration
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
# Permissions for leader election
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
