---
name: PR - Check

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Install pre-commit
        run: sudo apt-get update -y && sudo apt-get install -y pre-commit codespell gitleaks

      - name: Clone the code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          install-only: true

      - name: Check commits
        run: pre-commit run --hook-stage manual --all-files
