name: Test - Controller

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'object-lease-console-plugin/**'
      - 'object-lease-operator/**'
  pull_request:
    paths-ignore:
      - 'object-lease-console-plugin/**'
      - 'object-lease-operator/**'

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Run tests with coverage
        run: |
          go mod tidy
          go vet ./...
          make test
          gotestsum --junitfile=tmp/test-results/junit.xml --format=standard-verbose -- -coverprofile=coverage.out -covermode=atomic ./...

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: coverage.out

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: junit.xml
          path: tmp/test-results/junit.xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
            token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.out
          language: go
          force-coverage-parser: go
